<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Customized QR code generator
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://media.licdn.com/dms/image/D4D03AQHdfBPDMvHwYQ/profile-displayphoto-shrink_400_400/0/1673204841215?e=1683158400&v=beta&t=1drzYNLfLpmFD6PEvev-ysJqhHhVhlNbemeYts2jag4"
    />

    <h4 class="name">Amrithanshu</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div id="wrapper" fxLayout="row">
        <div id="left">
          <mat-nav-list class="select">
        <mat-card>
        <a>
          <mat-card-actions>
            <mat-icon >pencil</mat-icon>
            <textarea class="textbox"[(ngModel)] = "qrData" ng-scanner-detect="scan_options"></textarea>      
          </mat-card-actions>
        </a>
        </mat-card>
        <br><br>
        <mat-card>
          <a>
            <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
            <!--<button mat-icon-button (click)="onAdd($event)">
              <mat-icon class="add">publish</mat-icon>
          </button>-->
            <span matLine class="content">Upload Logo</span>
            <input
            type="file"
            id="form2Example1"
            class="form-control"
            name="email"
            (change)="chooseFile($event)"
          />           
          </a>
          </mat-card>
          <br><br>
          <mat-card>
          <a>
             <mat-icon>design_services</mat-icon>
            <span matLine class="content">Add color</span>
            <input [(colorPicker)]="selectedColor" [style.background]="selectedColor"  />

          </a>
          </mat-card>
          </mat-nav-list>  
        </div>
        <div id="right">
          
          <mat-card>
          <a>
            <qrcode
          
          [qrdata]="qrData"
          [allowEmptyString]="true"
          [ariaLabel]="'qrData'"
          [cssClass]="'center'"
          [colorDark]='selectedColor'
          [colorLight]="'#ffffffff'"
          [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'"
          [imageSrc]="imagePreview"
          [imageHeight]="35"
          [imageWidth]="35"
          [margin]="4"
          [scale]="2"
          [title]="'Qr code'"
          [width]="200"
          
       (qrCodeURL)="onChangeURL($event)" 
          >
        </qrcode>
        
        <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>
       <zxing-scanner
            (scanSuccess)="onCodeResult($event)"
            (scanSuccess)="onCodeResultx($event)"
      ></zxing-scanner><br>
              <strong>Scan Result</strong><br>
              <small>Scaned Text : {{result}}</small><br>
              <small>Scan Count: {{scanCount}}</small><br>
            </a>
          </mat-card>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>







